{% extends "siteapp/base.html" %}

{% block title %}
    Аккаунт
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm bg-primary-subtle">
                <div class="card-header bg-blue-300">
                    <h4 class="mb-0 text-center">Добро пожаловать, {{ user.name }}!</h4>
                </div>
                <div class="card-body">
                    <div class="account-info">
                        <div class="mb-3 ps-3">
                            <div class="fw-bold">Email:</div>
                            <div>{{ account.email }}</div>
                        </div>

                        <div class="mb-3 ps-3">
                            <div class="fw-bold">Город:</div>
                            <div>{{ user.city }}</div>
                        </div>

                        <div class="mb-3 ps-3">
                            <div class="fw-bold">Возраст:</div>
                            <div>{{ user.age }}</div>
                        </div>

                        <div class="mb-4 ps-3">
                            <div class="fw-bold">Хобби:</div>
                            <div>{{ user.hobby }}</div>
                        </div>

                        <div class="d-grid mt-4">
                            <a href="{% url 'edit_account' %}" class="btn btn-warning">
                                <i class="bi bi-pencil-square"></i> Редактировать данные
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
